<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anything.odoc.project.dao.ProjectMainDao">
    <select id="getProjectMainList" parameterType="com.anything.odoc.project.vo.ProjectMainVO" resultType="com.anything.odoc.project.vo.ProjectMainVO">
        /* ProjectMainDao.getProjectMainList */
        select
            a.odoc_sn
            , a.user_id
            , a.odoc_nm
            , to_char(a.frst_reg_dt, 'YYYY. MM. DD') as frst_reg_dt
            , a.end_yn
            , a.odoc_type
            , CASE
                WHEN EXISTS (
                SELECT 1
                FROM t_odoc_dtl c
                WHERE c.user_id = a.user_id
                AND c.odoc_sn = a.odoc_sn
                AND DATE(c.odoc_dt) = (CURRENT_TIMESTAMP AT TIME ZONE 'Asia/Seoul')::date
            )
            THEN 1
            ELSE 0
            END AS odoc_yn
            , to_char(MAX(b.odoc_dt), 'YYYY. MM. DD') as last_odoc_dt
            , a.odoc_fav_yn
            , a.odoc_thema_type
            , CASE
                WHEN a.stream_mdf_dt is not null
                AND a.stream_mdf_dt between (CURRENT_TIMESTAMP AT TIME ZONE 'Asia/Seoul')::date - 1
                    AND (CURRENT_TIMESTAMP AT TIME ZONE 'Asia/Seoul')
                THEN a.stream_sn
                ELSE 0
                END as stream_sn
            , a.max_stream_sn
        from t_odoc_main a
        left join t_odoc_dtl b
            on b.odoc_sn = a.odoc_sn
            and b.user_id = a.user_id
        where a.user_id = #{userId}
        and a.del_yn = 'N'
        <if test="odocType != null and odocType != ''">
            and a.odoc_type = #{odocType}
        </if>
        <if test="endYn != null and endYn != ''">
            and a.end_yn = #{endYn}
        </if>
        group by a.odoc_sn, a.user_id, a.odoc_nm, a.frst_reg_dt, a.end_yn, a.odoc_type
        order by case when a.end_yn = 'N' then 0 else 1 end asc, case when a.odoc_fav_yn = 'Y' then 0 else 1 end asc, a.odoc_sn desc
    </select>

    <select id="getProjectMain" parameterType="com.anything.odoc.project.vo.ProjectMainVO" resultType="com.anything.odoc.project.vo.ProjectMainVO">
        /* ProjectMainDao.getProjectMain */
        select
            a.odoc_sn
            , a.user_id
            , a.odoc_nm
            , to_char(a.frst_reg_dt, 'YYYY. MM. DD') as frst_reg_dt
            , a.end_yn
            , a.odoc_type
            , TO_CHAR((CURRENT_TIMESTAMP AT TIME ZONE 'Asia/Seoul')::date, 'MM') AS odoc_month
            , ROUND(
                    COUNT(DISTINCT DATE(b.odoc_dt))::numeric
                    / EXTRACT(DAY FROM DATE_TRUNC('month', (CURRENT_TIMESTAMP AT TIME ZONE 'Asia/Seoul')::date) + INTERVAL '1 month - 1 day')
                    * 100
              , 1) AS progress
            , CASE
                WHEN EXISTS (
                    SELECT 1
                    FROM t_odoc_dtl d
                    WHERE d.user_id = a.user_id
                        AND d.odoc_sn = a.odoc_sn
                        AND d.odoc_dt <![CDATA[ >= ]]> (CURRENT_TIMESTAMP AT TIME ZONE 'Asia/Seoul')::date
                        AND d.odoc_dt <![CDATA[ < ]]>  (CURRENT_TIMESTAMP AT TIME ZONE 'Asia/Seoul')::date + interval '1 day'
                )
            THEN 1
            ELSE 0
            END AS odoc_yn
            , a.odoc_fav_yn
            , a.odoc_thema_type
            , CASE
                  WHEN a.stream_mdf_dt is not null
                      AND a.stream_mdf_dt between (CURRENT_TIMESTAMP AT TIME ZONE 'Asia/Seoul')::date - 1
                      AND (CURRENT_TIMESTAMP AT TIME ZONE 'Asia/Seoul')
                      THEN a.stream_sn
                  ELSE 0
            END as stream_sn
            , a.max_stream_sn
            , COALESCE(to_char(a.odoc_alarm_time, 'HH24:MI'), '00:00') as odoc_alarm_time
            , a.odoc_alarm_yn
        from t_odoc_main a
        left join t_odoc_dtl b
        on a.user_id = b.user_id
        and a.odoc_sn = b.odoc_sn
        and b.odoc_dt <![CDATA[ >= ]]> DATE_TRUNC('month', (CURRENT_TIMESTAMP AT TIME ZONE 'Asia/Seoul')::date)
        and b.odoc_dt <![CDATA[ < ]]> DATE_TRUNC('month', (CURRENT_TIMESTAMP AT TIME ZONE 'Asia/Seoul')::date) + INTERVAL '1 month'
        where a.user_id = #{userId}
        and a.odoc_sn = #{odocSn}
        group by a.odoc_sn, a.user_id, a.odoc_nm, a.frst_reg_dt, a.end_yn
    </select>

    <select id="getHistYearList" parameterType="com.anything.odoc.project.vo.ProjectMainVO" resultType="com.anything.odoc.project.vo.ProjectMainVO">
        /* ProjectMainDao.getHistYearList */
        select
            TO_CHAR(b.odoc_dt, 'YYYY') AS year
            , TO_CHAR(b.odoc_dt, 'MM') AS month
            , ROUND(
                COUNT(DISTINCT DATE(b.odoc_dt))::numeric
                / EXTRACT(
                    DAY FROM DATE_TRUNC('month', b.odoc_dt) + INTERVAL '1 month - 1 day'
                )
                * 100
            , 1) AS progress
            , a.odoc_thema_type
        from t_odoc_main a
        left join t_odoc_dtl b
        on a.user_id = b.user_id
        and a.odoc_sn = b.odoc_sn
        where a.user_id = #{userId}
        and a.odoc_sn = #{odocSn}
        and b.odoc_dt IS NOT NULL
        group by
            TO_CHAR(b.odoc_dt, 'YYYY'), TO_CHAR(b.odoc_dt, 'MM'), DATE_TRUNC('month', b.odoc_dt), a.odoc_thema_type
        order by year desc, month desc
    </select>

    <select id="getHistMonth" parameterType="com.anything.odoc.project.vo.ProjectMainVO" resultType="com.anything.odoc.project.vo.ProjectMonthVO">
        /* ProjectMainDao.getHistMonth */
        select
            a.odoc_nm
            ,CASE WHEN DATE_TRUNC('month', a.frst_reg_dt) = DATE_TRUNC('month', TO_DATE(#{year} || '-' || #{month}, 'YYYY-MM'))
                THEN TO_CHAR(a.frst_reg_dt, 'DD')::int
                ELSE NULL
            END AS created_day
            , ARRAY_TO_STRING(
                ARRAY_AGG(DISTINCT TO_CHAR(DATE(b.odoc_dt), 'DD')),
                ','
            ) AS checked_dates
            , ARRAY_TO_STRING(
                ARRAY_AGG(to_char(b.odoc_dt, 'HH24시 MI분')),
                ','
            ) AS checked_timestamps
            , ROUND(
                COUNT(DISTINCT DATE(b.odoc_dt))::numeric
                / EXTRACT(
                DAY FROM DATE_TRUNC('month', TO_DATE(#{year} || '-' || #{month}, 'YYYY-MM'))
                + INTERVAL '1 month - 1 day'
                )
                * 100
            , 1) AS progress
            , a.odoc_thema_type
            , a.odoc_type
        from t_odoc_main a
        left join t_odoc_dtl b
        on a.user_id = b.user_id
        and a.odoc_sn = b.odoc_sn
        and b.odoc_dt >= DATE_TRUNC('month', TO_DATE(#{year} || '-' || #{month}, 'YYYY-MM'))
        and b.odoc_dt <![CDATA[ < ]]> DATE_TRUNC('month', TO_DATE(#{year} || '-' || #{month}, 'YYYY-MM')) + INTERVAL '1 month'
        where a.user_id = #{userId}
        and a.odoc_sn = #{odocSn}
        group by a.odoc_nm, a.frst_reg_dt, a.odoc_thema_type, a.odoc_type
    </select>

    <select id="getProjectName" parameterType="com.anything.odoc.project.vo.ProjectMainVO" resultType="com.anything.odoc.project.vo.ProjectMainVO">
        /* ProjectMainDao.getProjectName */
        select
            odoc_nm
        from t_odoc_main
        where user_id = #{userId}
        and odoc_sn = #{odocSn}
    </select>

    <update id="updateProject" parameterType="com.anything.odoc.project.vo.ProjectMainVO">
        /* ProjectMainDao.updateProject */
        update t_odoc_main set
            last_mdf_dt = (CURRENT_TIMESTAMP AT TIME ZONE 'Asia/Seoul')
            <if test="endYn != null and endYn != ''">
                , end_yn = #{endYn}
            </if>
            <if test="delYn != null and delYn != ''">
                , del_yn = #{delYn}
            </if>
            <if test="odocNm != null and odocNm != ''">
                , odoc_nm = #{odocNm}
            </if>
            <if test="odocFavYn != null and odocFavYn != ''">
                , odoc_fav_yn = #{odocFavYn}
            </if>
            <if test="odocAlarmYn != null and odocAlarmYn != ''">
                , odoc_alarm_yn = #{odocAlarmYn}
            </if>
            <if test="odocAlarmTime != null and odocAlarmTime != ''">
                , odoc_alarm_time = date_trunc('day', CURRENT_TIMESTAMP AT TIME ZONE 'Asia/Seoul') + #{odocAlarmTime}::time
            </if>
        where user_id = #{userId}
        and odoc_sn = #{odocSn}
    </update>

    <insert id="insertProject" parameterType="com.anything.odoc.project.vo.ProjectMainVO">
        /* ProjectMainDao.insertProject */
        insert into t_odoc_main
        (
            user_id
            , odoc_nm
            , odoc_type
            , odoc_thema_type
            , odoc_alarm_yn
            , odoc_alarm_time
            , frst_reg_dt
            , last_mdf_dt
        )
        values
        (
            #{userId}
            , #{odocNm}
            , #{odocType}
            , #{odocThemaType}
            , #{odocAlarmYn}
            , date_trunc('day', CURRENT_TIMESTAMP AT TIME ZONE 'Asia/Seoul') + #{odocAlarmTime}::time
            , (CURRENT_TIMESTAMP AT TIME ZONE 'Asia/Seoul')
            , (CURRENT_TIMESTAMP AT TIME ZONE 'Asia/Seoul')
        )
    </insert>

    <insert id="commitProject" parameterType="com.anything.odoc.project.vo.ProjectMainVO">
        /* ProjectMainDao.commitProject */
        insert into t_odoc_dtl
        (
            odoc_sn
            , user_id
            , odoc_dt
            , frst_reg_dt
        )
        select
            #{odocSn}
            , #{userId}
            , (CURRENT_TIMESTAMP AT TIME ZONE 'Asia/Seoul')
            , (CURRENT_TIMESTAMP AT TIME ZONE 'Asia/Seoul')
        where not exists (
            select 1
            from t_odoc_dtl d
            where d.odoc_sn = #{odocSn}
            AND d.user_id = #{userId}
            AND d.odoc_dt <![CDATA[ >= ]]> (CURRENT_TIMESTAMP AT TIME ZONE 'Asia/Seoul')::date
            AND d.odoc_dt <![CDATA[ < ]]>  (CURRENT_TIMESTAMP AT TIME ZONE 'Asia/Seoul')::date + interval '1 day'
        )
    </insert>


    <update id="updateStream" parameterType="com.anything.odoc.project.vo.ProjectMainVO">
        WITH prev AS (
            SELECT EXISTS (
                SELECT 1
                FROM t_odoc_dtl d
                WHERE d.user_id = #{userId}
                AND d.odoc_sn = #{odocSn}
                AND d.odoc_dt <![CDATA[ >= ]]> (CURRENT_TIMESTAMP AT TIME ZONE 'Asia/Seoul')::date - interval '1 day'
                AND d.odoc_dt <![CDATA[ < ]]> (CURRENT_TIMESTAMP AT TIME ZONE 'Asia/Seoul')::date
            ) AS has_prev
        )
        UPDATE t_odoc_main m
        SET
            stream_sn =
                CASE WHEN prev.has_prev
                THEN COALESCE(m.stream_sn,0)+1
                ELSE 1
                END
            , max_stream_sn = GREATEST(
                COALESCE(m.max_stream_sn, 0),
                CASE WHEN prev.has_prev
                THEN COALESCE(m.stream_sn,0)+1
                ELSE 1
                END
            )
            , stream_mdf_dt = (CURRENT_TIMESTAMP AT TIME ZONE 'Asia/Seoul')
        FROM prev
        WHERE m.user_id = #{userId}
        AND m.odoc_sn = #{odocSn}
    </update>

    <update id="updateUserStreamMax" parameterType="com.anything.odoc.project.vo.ProjectMainVO">
        UPDATE T_USER u
        SET
            max_stream_sn = GREATEST(
                    COALESCE(u.max_stream_sn, 0),
                    COALESCE(m.max_stream_sn, 0)
                            ),
            LAST_MDF_DT = (CURRENT_TIMESTAMP AT TIME ZONE 'Asia/Seoul')
        FROM (
            SELECT
                user_id
                , MAX(max_stream_sn) AS max_stream_sn
            FROM t_odoc_main
            WHERE user_id = #{userId}
            GROUP BY user_id
        ) m
        WHERE u.user_id = m.user_id
    </update>

    <select id="selectThemaList" parameterType="com.anything.odoc.project.vo.ThemaVO" resultType="com.anything.odoc.project.vo.ThemaVO">
        /* ProjectMainDao.selectThemaList */
        select
            thema_id
            , thema_nm
            , thema_get_method
            , coalesce(thema_get_day, 0) as thema_get_day
            , coalesce(thema_get_cd, '') as thema_get_cd
            , thema_desc
        from t_thema_main
        where use_yn = 'Y'
        <if test="themaGetCd != null and themaGetCd != ''">
            and thema_get_method = 'code'
            and thema_get_cd = #{themaGetCd}
        </if>
        order by
            case when thema_get_method = 'free' then 0
                when thema_get_method = 'day' then 1
                else 2 end asc, thema_id asc
    </select>

    <select id="selectUserThemaList" parameterType="com.anything.odoc.project.vo.ProjectMainVO" resultType="com.anything.odoc.project.vo.ProjectMainVO">
        /* ProjectMainDao.selectUserThemaList */
        <if test="themaConfirmYn == null or themaConfirmYn == ''">
            SELECT
                thema_id
            FROM t_thema_main
            WHERE use_yn = 'Y'
            AND thema_get_method = 'free'

            UNION
        </if>

        select
            thema_id::integer
        from t_thema_dtl
        where user_id = #{userId}
        <if test="themaId != null and themaId != ''">
            and thema_id = #{themaId}::text
        </if>
    </select>

    <insert id="insertUserThema" parameterType="com.anything.odoc.project.vo.ProjectMainVO">
        /* ProjectMainDao.insertUserThema */
        insert into t_thema_dtl
        (
            thema_id
            , user_id
        )
        values
        (
            #{themaId}
            , #{userId}
        )
    </insert>

</mapper>
